[user]
    name = Greg Lutostanski
    email = gregory.lutostanski@canonical.com
[alias]
    graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit --date=relative --all
    diffc = diff --cached
    tip = log -1 HEAD
    l = log
    co = checkout
    st = status
    discard = checkout --
    unstage = reset HEAD
    fa = fetch --all
    fap = pull --all
    uncommit = reset --soft HEAD~
    info = config --get remote.origin.url
    whoami = config --get-regexp "user.*"
[color]
    ui = true
[log]
    decorate = full
[url "git+ssh://lutostag@git.launchpad.net/"]
    insteadof = lp:
[url "git@github.com:"]
    insteadof = https://github.com/
[push]
    default = simple
