[user]
    name = Greg Lutostanski
    email = greg.lutostanski@mobilityhouse.com
[alias]
    graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit --date=relative --all
    diffc = diff --cached
    tip = log -1 HEAD
    l = log
    co = checkout
    st = status
    discard = checkout --
    unstage = reset HEAD
    fa = fetch --all
    fap = pull --all
    uncommit = reset --soft HEAD~
    info = config --get remote.origin.url
    whoami = config --get-regexp "user.*"
    scrub = clean -xdf
    remotes = remote -v
[color]
    ui = true
[log]
    decorate = full
[url "git@github.com:"]
    pushinsteadof = https://github.com/
[url "git@github.com:mobilityhouse/"]
    insteadof = https://github.com/mobilityhouse/
[url "git+ssh://lutostag@git.launchpad.net/"]
    insteadof = lp:
[push]
    default = simple
[pull]
    rebase = true
[rerere]
    enabled = true
    autoupdate = true
