[submodule "zsh/.config/z"]
	path = zsh/.config/z
	url = https://github.com/rupa/z.git
[submodule "zsh/.config/lxc-cmd"]
	path = zsh/.config/lxc-cmd
	url = https://github.com/lutostag/lxc-cmd.git
[submodule "vim/.config/vim/autoload"]
	path = vim/.config/vim/autoload
	url = https://github.com/junegunn/vim-plug.git
